#main{
    height: 73.5vh;
    transition: 0.5s;
}
#mainTxt{
    margin-left: 5vh;
    margin-top: 5vh;
    width: 60vh;
}
#mainPic{
    width: 65vh;
    margin-left: 20vh;
    margin-top: 5vh;
    border-radius: 1vh;
}
#divie{
    display: flex;
}
.mainmenu{
    color: whitesmoke;
}