html {
    scroll-behavior: smooth;
}
header{
    display: flex;
    flex-direction: row;
    margin-right: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:  url(../images/BG.png);
    font-size: 2vh;
    font-weight: 500;
    margin: 0;
}
footer{
    color: whitesmoke;
    background-color: #222E5F;
    text-align: right;
    bottom: 0;
    display: flex;
    width: 100%;
    position: fixed;
    height: auto;
}
#divje{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#header{
    text-decoration: none;
    padding: 2vh;
    color:#A1C9EC;
    margin-left: 20vh;
    font-size: 10vh;
    -webkit-text-stroke: 0.4vh #01075D;
    font-weight: 800;
}
#navbar {
    overflow: hidden;
    background-color:#A1C9EC;
}
#navbar a {
    float: left;
    color: black;
    padding: 2vh 3vh;
    text-decoration: none;
    transition: 0.5s;
    margin: 1.2vh;
    border-radius: 0.5vh;
    font-weight: 500;
    font-size: 3vh;
}
#navbar a:hover {
    background-color: #01075D;
    color: whitesmoke;
    transform: scale(1.1);
}
.mainmenu{
    display: flex;
    background-color: #222E5F;
}
#resultaat{
    margin-left: 70%;
    text-align: right;
}